In [1]:
from html.parser import HTMLParser
from bs4 import BeautifulSoup
import os
import pandas as pd
import csv
#import pickle

In [32]:
def get_suitor_info(directory):
    all_entries = {}
    #file_list= []
    like_list = []
    new_profile = []
    #my_dir = os.getcwd()

    #retrieve every record of a suitor from every profile#.html file
    #like_list is a list in which each element is a list of the details of a suitor
    for file in os.listdir(directory):
        if file.endswith(".html"):
            new_file_indicator = True
            #file_list.append(os.path.join(directory, file))
            profile = open(os.path.join(directory, file),'r',encoding='utf8',errors='ignore')
            source_code = profile.read()
            profile.close()
            soup = BeautifulSoup(source_code, 'html.parser')
            name_list = soup.find_all('span')
            for a in name_list:
                keys = a.attrs
                if "class" in keys:
                    if new_file_indicator:
                        if new_profile:
                            like_list.append(new_profile)
                            new_profile = []
                        new_file_indicator = False
                        profile_counter = 0
                    if "recCard__name" in a["class"]:
                        like_list.append(new_profile)
                        new_profile = [file]
                        profile_counter += 1
                        new_profile.append(profile_counter)
                        new_profile.append(a.string)
                    elif "recCard__age" in a["class"]:
                        if bool(a.string):
                            new_profile.append(int(a.string[2:]))
                        else:
                            new_profile.append(a.string)
                    elif "Fz($ms)" in a["class"] or " W(100%)" in a["class"] or "D(b)" in a["class"]:
                        new_profile.append(a.string)
    if new_profile:
        like_list.append(new_profile)

    #organize all the records in like_list by filename
    #all_entries is a dictionary that has the filename as its key and a list of entries from like_list as its value
    profile_number = 'blah'
    for b in like_list:
        if b:
            if b[0] != profile_number:
                profile_number = b[0]
                all_entries[profile_number] = []
            all_entries[profile_number].append(b[1:])

    #get the 2nd suitor record of each file
    #suitor_list is the actual list of liked suitors
    num_columns = 0
    suitor_list = []
    for c in all_entries:
        suitor = [c]
        suitor.extend(all_entries[c][1])
        suitor_list.append(suitor)
        if len(all_entries[c][1]) > num_columns:
            num_columns = len(all_entries[c][1])

    #make number of columns data dependent
    columns = ['filename', 'file_position', 'name', 'age']
    detail_number = 1
    while len(columns) <= num_columns:
        columns.append('detail_' + str(detail_number))
        detail_number += 1

    #write the record of every swipe
    suitor_df = pd.DataFrame(suitor_list,columns=columns)
    #suitor_df.to_csv('all_suitors.csv', header=True, index=False)

    #fill in missing values to enable counting of unique profiles
    suitor_df = suitor_df.fillna('NO DATA')

    #count the number of unique profiles
    #write the record of unique profiles in the run, including the number of times that profile appears
    #groupby_list = columns[1:]
    groupby_list = columns[2:]
    unique_suitors = suitor_df.groupby(groupby_list)['filename'].count()
    #unique_suitors.to_csv('unique_suitors.csv', header=True)

    #write the record of profiles that appeared more than once during the run
    duplicate_suitors = unique_suitors[unique_suitors>1]
    #duplicate_suitors.to_csv('duplicate_suitors.csv', header=True)

    #write all records of all suitors in every profile#.html file
    #not sure how to handle strange characters-- ignoring for now
    #with open('original_suitor_records.csv', 'w', newline='',errors='ignore') as original_suitor_records:
        #wr = csv.writer(original_suitor_records)
        #wr.writerow(columns)
        #for d in like_list:
            #if d:
                #wr.writerow(d)
    
    return unique_suitors, duplicate_suitors, suitor_df, all_entries

In [33]:
complete_records = {}
directories = os.walk(os.getcwd())
for folder in directories:
    #print(folder)
    current_dir = folder[0]
    subfolders = folder[1]
    contents = folder[2]
    if contents:
        if any('.html' in file for file in contents):
            complete_records[current_dir] = get_suitor_info(current_dir)
        
        #profile_files = [file for file in contents if '.html' in file]
        #for blah in profile_files:
            #print(current_dir + '\\' + blah)
            #print()
    #print()

In [36]:
pd.DataFrame(complete_records['C:\MIDS\W241\\final_project\Data_Collection\PhD\Male\Boston'][0])

                                                                                                        filename
name      age detail_1                                           detail_2
Aisling   25  NO DATA                                            NO DATA                                       1
Alexx     27  Caterer at Max Ultimate Food                       Johnson and Wales University                  1
Alice     26  Assistant Director of Undergraduate Admissions ... Elon University                               1
Alicia    26  Tufts University                                   NO DATA                                       1
Alli      29  NO DATA                                            NO DATA                                       1
Alyssa    29  Senior Consultant at Longwood Medical Area         NO DATA                                       1
Ambarin   26  NO DATA                                            NO DATA                                       1
Ame       28  Bridgewater State University                       NO DATA                                       1
Amy       27  Graphic designer                                   Emerson College                               1
Anissa    26  210 Instagram Photos                               NO DATA                                       1
Anna      29  Wesleyan University                                NO DATA                                       1
Anouska   32  Lecturer in History and Literature                 Harvard University                            1
Ashley    26  1,897 Instagram Photos                             NO DATA                                       2
Bethany   30  Director at Boys & Girls Clubs of Stoneham & Wa... Trinity College                               1
Bridget   25  University of Southern Maine                       NO DATA                                       1
Carolyn   30  NO DATA                                            NO DATA                                       1
Catherine 27  NO DATA                                            NO DATA                                       1
Corinne   28  Manager of Stewardship & Fundraising Events at ... University of Nebraska–Lincoln                1
Courtenay 27  NO DATA                                            NO DATA                                       1
Cristina  31  New England College of Business                    1,993 Instagram Photos                        1
Daysi     26  Marketing Consultant                               NO DATA                                       1
Devon     26  Veterinarian Assistant                             Salem State College                           1
Dina      31  James Madison University                                                                         1
Boston University         NO DATA                                                                              1
Ellie     29  NO DATA                                            NO DATA                                       1
Erika     28  City of Cambridge (Official)                       Simmons College School of Social Work         1
              Lead Experience Designer at Digitas Boston         Boston University                             1
Ethel     30  University of Cape Town                            NO DATA                                       1
Ha        28  Northeastern University                            NO DATA                                       1
Hannah    24  Syracuse University                                NO DATA                                       1
          27  221 Instagram Photos                               NO DATA                                       1
...                                                                                                          ...
Lindsey   27  Community Support Specialist at Community Work ... NO DATA                                       1
Liz       24  Basis Technology                                   Boston University                             2
Liza      28  NO DATA                                            NO DATA                                       1
Marcy     25  Boston University                                  1,056 Instagram Photos                        1
Meghan    26  Boston University School of Law                    NO DATA                                       1
          27  Simmons School of Management                       NO DATA                                       1
Miriam    25  Boston College Carroll School of Management Gra... NO DATA                                       1
Moe       33  NO DATA                                            NO DATA                                       1
Nan       24  UC Berkeley                                        NO DATA                                       1
Nicole    27  Boston University                                  Boston University                             1
          29  NO DATA                                            NO DATA                                       1
Nikki     31  University of Massachusetts Boston                 NO DATA                                       1
Phoebe    27  NO DATA                                            NO DATA                                       1
Priyanka  25  NO DATA                                            NO DATA                                       1
Rachel    27  Northeastern University                            NO DATA                                       1
Saadia    25  UMass Boston                                       UMass Boston                                  1
Sandra    27  Simmons College                                    NO DATA                                       1
Sara      26  Admissions Officer at Rhode Island School of De... Rhode Island School of Design                 1
          27  Exhibit Fabricator                                 NO DATA                                       1
Sarah     25  Juvenile Forensic Case Manager at Suffolk Count... Tufts University                              1
          27  University of Vermont                              NO DATA                                       1
          30  Brand content manager at Sasaki                    NO DATA                                       1
Shana     27  Brandeis University                                NO DATA                                       1
Shira     28  Perkins School for the Blind                       Brandeis University                           1
Sun       24  University of York                                 NO DATA                                       1
Tanazshia 27  Manager                                            908 Instagram Photos                          1
Tasneem   26  NO DATA                                            NO DATA                                       1
Vie       25  NO DATA                                            NO DATA                                       1
Whitney   24  Tufts University School of Medicine                NO DATA                                       1
ѕσиιå     30  NO DATA                                            NO DATA

[72 rows x 1 columns]

In [35]:
for d in complete_records:
    #print(complete_records[d][0].size)
    print(len(complete_records[d][0]))

90
72
2
98
90
58
42
40
26
97
10
90
99
19
11

In [ ]:


all_entries = {}
file_list= []
like_list = []
new_profile = []
my_dir = os.getcwd()

#retrieve every record of a suitor from every profile#.html file
#like_list is a list in which each element is a list of the details of a suitor
for file in os.listdir(my_dir):
    if file.endswith(".html"):
        new_file_indicator = True
        file_list.append(os.path.join(my_dir, file))
        profile = open(os.path.join(my_dir, file),'r',encoding='utf8',errors='ignore')
        source_code = profile.read()
        profile.close()
        soup = BeautifulSoup(source_code, 'html.parser')
        name_list = soup.find_all('span')
        for a in name_list:
            keys = a.attrs
            if "class" in keys:
                if new_file_indicator:
                    if new_profile:
                        like_list.append(new_profile)
                        new_profile = []
                    new_file_indicator = False
                    profile_counter = 0
                if "recCard__name" in a["class"]:
                    like_list.append(new_profile)
                    new_profile = [file]
                    profile_counter += 1
                    new_profile.append(profile_counter)
                    new_profile.append(a.string)
                elif "recCard__age" in a["class"]:
                    if bool(a.string):
                        new_profile.append(int(a.string[2:]))
                    else:
                        new_profile.append(a.string)
                elif "Fz($ms)" in a["class"] or " W(100%)" in a["class"] or "D(b)" in a["class"]:
                    new_profile.append(a.string)
if new_profile:
    like_list.append(new_profile)

#organize all the records in like_list by filename
#all_entries is a dictionary that has the filename as its key and a list of entries from like_list as its value
profile_number = 'blah'
for b in like_list:
    if b:
        if b[0] != profile_number:
            profile_number = b[0]
            all_entries[profile_number] = []
        all_entries[profile_number].append(b[1:])

#get the 2nd suitor record of each file
#suitor_list is the actual list of liked suitors
num_columns = 0
suitor_list = []
for c in all_entries:
    suitor = [c]
    suitor.extend(all_entries[c][1])
    suitor_list.append(suitor)
    if len(all_entries[c][1]) > num_columns:
        num_columns = len(all_entries[c][1])

#make number of columns data dependent
columns = ['filename', 'file_position', 'name', 'age']
detail_number = 1
while len(columns) <= num_columns:
    columns.append('detail_' + str(detail_number))
    detail_number += 1

#write the record of every swipe
suitor_df = pd.DataFrame(suitor_list,columns=columns)
suitor_df.to_csv('all_suitors.csv', header=True, index=False)

#fill in missing values to enable counting of unique profiles
suitor_df = suitor_df.fillna('NO DATA')

#count the number of unique profiles
#write the record of unique profiles in the run, including the number of times that profile appears
groupby_list = columns[1:]
unique_suitors = suitor_df.groupby(groupby_list)['filename'].count()
unique_suitors.to_csv('unique_suitors.csv', header=True)

#write the record of profiles that appeared more than once during the run
duplicate_suitors = unique_suitors[unique_suitors>1]
duplicate_suitors.to_csv('duplicate_suitors.csv', header=True)

#write all records of all suitors in every profile#.html file
#not sure how to handle strange characters-- ignoring for now
with open('original_suitor_records.csv', 'w', newline='',errors='ignore') as original_suitor_records:
    wr = csv.writer(original_suitor_records)
    wr.writerow(columns)
    for d in like_list:
        if d:
            wr.writerow(d)